.pending .fc-event-skin{
    background-color: red; /* background color */
    border-color: red;     /* border color */
    color: white;           /* text color */

    }

.accomplished .fc-event-skin{
    background-color: green; /* background color */
    border-color: green;     /* border color */
    color: white;           /* text color */
    }



#external-events {
    float: left;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
    }

#external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
    }

.external-event { /* try to mimick the look of a real event */
    margin: 10px 0;
    padding: 2px 4px;
    background: #3366CC;
    color: #fff;
    font-size: .85em;
    cursor: pointer;
    }

#external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
    }

#external-events p input {
    margin: 0;
    vertical-align: middle;
    }