{% load ui_loaders %}
{% load_plugin fullcalendar  %}

<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}/zero/calendar.css" type="text/css" media="screen" />

<script type='text/javascript'>

  $(document).ready(function() {

$('#external-events div.external-event').each(function() {
  
  // create an Event Object (http://arshaw.com/fullcalendar/docs/event_data/Event_Object/)
  // it doesn't need to have a start or end
  var eventObject = {
  title: $.trim($(this).text()), // use the element's text as the event title
  id: $(this).attr("id")
  };
  
  // store the Event Object in the DOM element so we can get to it later
  $(this).data('eventObject', eventObject);
  
  // make the event draggable using jQuery UI
  $(this).draggable({
  zIndex: 999,
  revert: true,      // will cause the event to go back to its
  revertDuration: 0  //  original position after the drag
  });
  
  });

  $('#calendar').fullCalendar({
  theme: true,
  editable: true,
  droppable: true,
  header: {
  left: 'prev,next today',
  center: 'title',
  right: 'month,agendaWeek,agendaDay'
  },

  eventSources: [{url: '{% url json_events %}'}],
  loading: function(bool) {
         if (bool) $('#loading').show();
         else $('#loading').hide();},

drop: function(date, allDay) { // this function is called when something is dropped
  
  // retrieve the dropped element's stored Event Object
  var originalEventObject = $(this).data('eventObject');
  
  // we need to copy it, so that multiple events don't have a reference to the same object
  var copiedEventObject = $.extend({}, originalEventObject);
  
  // assign it the date that was reported
  copiedEventObject.start = date;
  copiedEventObject.allDay = allDay;
  
  // render the event on the calendar
  // the last `true` argument determines if the event "sticks" (http://arshaw.com/fullcalendar/docs/event_rendering/renderEvent/)
  $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);
    $.ajax
                    ({
                        url: '/create-deadline/task/'+$(this).data('eventObject').id+'/',
                        type: 'POST',
                        data: { 'year': date.getFullYear(),
                                'month': date.getMonth()+1,
                                'day': date.getDate(), 
                                 'csrfmiddlewaretoken': '{{ csrf_token }}' }
                    });

  
  // is the "remove after drop" checkbox checked?
  if ($('#drop-remove').is(':checked')) {
  // if so, remove the element from the "Draggable Events" list
  $(this).remove();
  }
 
  },


eventResize: function(event,dayDelta,minuteDelta,revertFunc) {
    $.ajax
                    ({
                        url: '/update-deadline/task/'+event.id+'/',
                        type: 'POST',
                        data: { 'days': 0,
                                'minutes': 0,
                                'duration_minutes': minuteDelta,
                                'duration_days': dayDelta,
                                'all_day': false,
                                 'csrfmiddlewaretoken': '{{ csrf_token }}' }
                    });


    },

eventDrop: function(event,dayDelta,minuteDelta,allDay,revertFunc) {
    $.ajax
                    ({
                        url: '/update-deadline/task/'+event.id+'/',
                        type: 'POST',
                        data: { 'days': dayDelta,
                                'minutes': minuteDelta,
                                'duration_minutes': 0,
                                'duration_days': 0,
                                'all_day': allDay,
                                 'csrfmiddlewaretoken': '{{ csrf_token }}' }
                    });
}

  });

  });

</script>


