<section id="zero-content" class="clearfix">
        <div class="intro-box">

{% if objects %}

<p>
There are {{ objects.count }} latest elements presented..
</p>

<table class="display" id="simple-table">
<thead>
<th>Project</th>
<th>Name</th>
<th>Created by</th>
<th>Created on</th>
<th>Comments</th>
</thead>
<tbody>
{% for obj in objects %}
<tr>
  <td><a href="{% url list_project_issues obj.project.id %}">{{ obj.project }}</a></td>
  <td><a href="{% url issue_details obj.id %}">{{ obj.verbose_name }}</a></td>
  <td>{{ obj.get_author }}</td>
  <td>{{ obj.get_publication_datetime }}</td>
  <td>{{ obj.comments.count }}</td>
{% endfor %}
</tbody>
</table>

{% else %}
<p>
  There are no tasks assigned to You.
</p>
{% endif %}
</div>
</section>
